<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pt.brewit.mapper.AdminMapper">

    <select id="selectAllMember">
        SELECT * FROM TB_MEMBER WHERE status != 'inactive';
    </select>
<!--     회원 정보 조회 -->
    <select id="selectMemberById" resultType="com.pt.brewit.dto.MemberDTO">
        SELECT * FROM TB_MEMBER WHERE member_id = #{id}
    </select>

<!--    판매자 승인 목록-->
    <select id="selectSellerConfrimList">
        SELECT * FROM TB_SELLER WHERE status='inactive'
    </select>
<!--    판매자 승인처리-->
    <update id="confirmSellerMember">
        UPDATE TB_MEMBER SET auth='seller' WHERE member_id = ${id}
    </update>
    <update id="updateSellerMember">
        UPDATE TB_SELLER SET status='active' WHERE member_id = ${id}
    </update>
    <!-- 회원 삭제 -->
    <update id="deleteMemberById">
        UPDATE TB_MEMBER SET status="inactive" WHERE member_id = #{id}
    </update>

    <!-- 회원  수정 -->
    <update id="updateMemberById" parameterType="MemberDTO">
        UPDATE TB_MEMBER SET
        name=#{name},
        password=#{password},
        cellphone=#{cellphone},
        email=#{email}
        WHERE member_id = #{member_id}

    </update>

<!--    메인 count 모음-->
    <select id="SelectCountMember">
        SELECT COUNT(*) FROM TB_MEMBER WHERE status = 'active'
    </select>
    <select id="SelectCountProduct">
        SELECT COUNT(*) FROM TB_PRODUCT WHERE status = 'active'
    </select>
    <select id="SelectCountOrder">
        SELECT COUNT(*) FROM TB_ORDER
    </select>
    <select id="SelectCountPayment">
        SELECT COUNT(*) FROM TB_PAYMENT
    </select>
    <select id="SelectCountTermEvent">
        SELECT COUNT(*) FROM TB_TERM_EVENT
    </select>
    <select id="SelectCountToday">
        SELECT 143;
    </select>
</mapper>