<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pt.brewit.mapper.EventProductMapper">
    <select id="getEventProductInfo" resultType="EventProductDTO">
        SELECT *
        FROM TB_TERM_EVENT
        WHERE status = 'active' and stock > 0
        ORDER BY discount DESC
        LIMIT 6
    </select>
    <select id="insertEventProductOne">
        INSERT INTO
        tb_term_event
        (product_id, term, seller_id, event_name, event_info, attach_name, attach_origin_name, discount, sale_price, regular_price, stock)
        VALUES
        (#{product_id}, #{term}, #{seller_id}, #{event_name}, #{event_info}, #{attach_name}, #{attach_origin_name}, #{discount}, #{sale_price}, #{regular_price}, #{stock} )
    </select>
    <select id="getFindProductForId" resultType="EventProductDTO">
        select *
        from tb_term_event
        WHERE term_item_id = #{term_item_id}
        and status = 'active'
    </select>

    <select id="getEventProduct" resultType="EventProductDTO">
        SELECT e.*, s.company_name, s.b_number, m.name AS seller_name
        FROM TB_TERM_EVENT e
        JOIN TB_SELLER s ON e.seller_id = s.member_id
        JOIN TB_MEMBER m ON e.seller_id = m.member_id
        WHERE e.status='active'
        <if test="auth == 'seller'">
            AND e.seller_id = #{member_id}
        </if>
    </select>

    <update id="deleteProductById">
        UPDATE
        SET status = 'inactive'
        WHERE term_item_id=#{id}
    </update>


    <sql id="searchKeyword">
        <trim prefix="WHERE" prefixOverrides="OR">
            <foreach item="search" collection="searchTypeArr">
                <choose>
                    <when test="search == 't'">
                        OR title LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="search == 'w'">
                        OR writer LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="search == 'c'">
                        OR content LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                </choose>
            </foreach>
        </trim>
    </sql>

    <select id="selectSubscriptions" resultType="EventProductDTO">
        SELECT e.*, m.name AS seller_name
        FROM TB_TERM_EVENT e
        JOIN TB_MEMBER m ON e.seller_id = m.member_id
        <choose>
            <when test="searchType != null and searchType != ''">
                <include refid="searchKeyword"/>
                AND e.status = 'active'
                AND e.stock > 0
            </when>
            <otherwise>
                WHERE e.status = 'active'
                AND e.stock > 0
            </otherwise>
        </choose>
        ORDER BY term_item_id DESC
        LIMIT #{offset}, #{size}
    </select>
    <!-- 총 상품 개수 -->
    <select id="countSubscriptions" resultType="long">
        SELECT COUNT(*)
        FROM TB_TERM_EVENT
        WHERE status = 'active'
    </select>

</mapper>