<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pt.brewit.mapper.HistoryMapper">

    <select id="selectAllOrders">
        SELECT o.*,
        p.name AS product_name,
        p.attach_name,
        m_seller.name AS seller_name,
        m_buyer.name AS buyer_name
        FROM TB_ORDER o
        JOIN TB_PRODUCT p ON o.product_id = p.product_id
        JOIN TB_MEMBER m_seller ON o.seller_id = m_seller.member_id
        JOIN TB_MEMBER m_buyer ON o.member_id = m_buyer.member_id;
    </select>
    <select id="selectAllPayments">
        SELECT
        pay.order_num,
        p.name AS product_name,
        m.name AS pay_member_name,
        o.price AS price,

        pay.status AS status,
        pay.cancel_date AS cancel_date,
        pay.payment_date AS payment_date,
        pay.payment_method AS method

        FROM tb_payment pay
        JOIN tb_order o ON pay.order_num = o.order_num
        JOIN tb_product p ON o.product_id = p.product_id
        JOIN tb_member m ON pay.member_id = m.member_id

    </select>

</mapper>
