<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pt.brewit.mapper.MainpageMapper">

    <!-- Best 상품 가져오기 -->
    <select id="findBestProducts" resultType="ProductDTO">
        select *
        from tb_product
        where STATUS = 'active' <!-- 활성 상태인 상품만 가져옴 -->
        order by liked desc
        limit 6;
    </select>

    <!-- Tea 또는 Coffee 상품 가져오기 -->
    <select id="findProductsByCategory" resultType="ProductDTO">
        select *
        from tb_product
        where category_id = #{category_id} and stock > 0 and STATUS = 'active' <!-- 활성 상태인 상품만 가져옴 --><!-- 1 들어오면 차 / 2 들어오면 커피 -->
        order by reg_date desc
        limit 6
    </select>

    <!-- "관련용품 카테고리별 상품 가져오기" 탭 -->
    <select id="findProductsByTool" resultType="ProductDTO">
        select *
        from (
        <!-- 카테고리 3번(차)에서 최신순 3개 가져오기 -->
        select *
        from tb_product
        where category_id = 3 and stock > 0 and STATUS = 'active'
        order by reg_date desc
        limit 3
        ) as category_3

        UNION ALL

        select *
        from (
        <!-- 카테고리 4번(커피)에서 최신순 3개 가져오기 -->
        select *
        from tb_product
        where category_id = 4 and stock > 0 and STATUS = 'active'
        order by reg_date desc
        limit 3
        ) as category_4
        order by reg_date desc;
    </select>
</mapper>