<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pt.brewit.mapper.MemberMapper">

    <insert id="insertMember">
        insert into tb_member(name, password, cellphone,telephone,address1,address2,email,auth,is_subscribe,bank_id,bank_account,is_kakao)
                   values(#{name},#{password},#{cellphone},#{telephone},#{address1},#{address2},#{email},#{auth},#{is_subscribe},#{bank_id},#{bank_account},#{is_kakao})
    </insert>

    <select id="selectMemberByUsername" resultType="MemberDTO">
        select *
        from tb_member
        where email = #{username}
    </select>

    <update id="updateMember">
        update tb_member set cellphone=#{cellphone},telephone=#{telephone},address1=#{address1},address2=#{address2}
        where email = #{email}
    </update>

    <delete id="deleteMember">
        delete from tb_member
        where email=#{username}
    </delete>

    <select id="selectAll" resultType="MemberDTO">
        select * from tb_member
    </select>

    <select id="selectOne" resultType="MemberDTO">
        select * from tb_member where email=#{email}
    </select>

</mapper>