<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Header Fragments -->
<th:block th:replace="~{/main/fragments/header :: fragment-header}"></th:block>
<!-- Header Fragments Close -->
<main class="container mt-4">
    <body>
    <div class="mt-3 mb-3">
        <h2 class="team text-center fw-bold">구독상품</h2>
    </div>
    <div class="card mb-4 shadow-sm">
        <!-- 상품 이미지 -->
        <div class="col-md-4" STYLE="display: flex; justify-content: center;">
<!--            <img th:s rc="@{/admin/img/product/{attach_name}(attach_name=${.attach_name})}"-->
<!--                 class="img-fluid rounded-start p-3"-->
<!--                 style="width: 100%; max-width: 300px; height: auto; object-fit: contain;"-->
<!--                 alt="구독상품 이미지">-->
        </div>
        <!-- 상품 설명 -->
        <div class="col-md-8 d-flex align-items-center">
            <div class="card-body">
<!--                <h5 class="card-title fw-bold"><span th:text="${.name}">[상품명]</span></h5>-->
<!--                <h5 class="card-title fw-bold"><span th:text="${.name}">[상품설명]</span></h5>-->
<!--&lt;!&ndash;                할인율&ndash;&gt;-->
<!--                <p class="card-text"> <span th:text="${productData.discount}" style="color: red">0</span>%</p>-->
<!--&lt;!&ndash;                금액(상품상세페이지처럼)&ndash;&gt;-->
<!--                <p class="card-text fw-bold"><span th:text="${}">0원</span></p>-->
            </div>
        </div>
        <!-- 구독하기 버튼 -->
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" id="confirmOrder">구독하기</button>
            </div>
        </div>
    </div>
<!--페이징 ..?-->

</body>

    <!-- Footer Fragments -->
    <th:block th:replace="~{/main/fragments/footer :: fragment-footer}"></th:block>
    <!-- /Footer Fragments Close -->
</html>