<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>SellerChange Form</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="../../static/../../static/main/assets/img/favicon.png" rel="icon">
    <link href="../../static/../../static/main/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../static/../../static/main/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/../../static/main/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../static/../../static/main/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../static/../../static/main/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../static/../../static/main/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link href="../../static/../../static/main/assets/css/main.css" rel="stylesheet">
<body>
    <h2 style="text-align: center">판매자 전환 신청</h2>
    <div class="">
<!--          박스가 안나와!!!!!!-->
        대표자 성함 *
            <br/><input type="text" th:field="*{name}" /> <br/>
        기업명  <small><small>(해당 시 기재)</small></small>
            <br/><input type="text" th:field="*{company_name}" /> <br/>
        사업자 등록번호 *  <small><small>("-"제외 숫자만 입력)</small></small><br/>
            <input type="text" th:field="*{b_number}" /> <br/>
        example1<br/>
            <input type="text" th:field="*{example1}" /> <br/><br/>

            <button type="submit"> 신청 </button>
            <button type="button" th:onclick="|location.href='@{/}'|" > 취소 </button>

    </div>






</body>
</html>