<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--헤더-->
<th:block th:replace="~{/main/fragments/header :: fragment-header}"></th:block>

<body>
    <h2 style="text-align: center">판매자 전환 신청</h2>
    <div class="">
<!--          박스가 안나와!!!!!!-->
        대표자 성함 *
            <br/><input type="text" th:field="*{name}" /> <br/>
        기업명  <small><small>(해당 시 기재)</small></small>
            <br/><input type="text" th:field="*{company_name}" /> <br/>
        사업자 등록번호 *  <small><small>("-"제외 숫자만 입력)</small></small><br/>
            <input type="text" th:field="*{b_number}" /> <br/>
        example1<br/>
            <input type="text" th:field="*{example1}" /> <br/><br/>

            <button type="submit"> 신청 </button>
            <button type="button" th:onclick="|location.href='@{/}'|" > 취소 </button>

    </div>






</body>
</html>