<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<th:block th:replace="~{/main/fragments/header :: fragment-header}"></th:block>


<body class="index-page">


<main class="main">
    </br>
    <h2 class="team" style="text-align: center">차(TEA)</h2>

    <section id="team" class="team section light-background">
        <!-- 정렬 -->
        <div class="sort_bar container">
            <p class="right_line" onclick="">낮은가격순</p>
            <p class="right_line" onclick="">높은가격순</p>
            <p onclick="">리뷰많은순</p>
        </div>
        <!--subcategory-->
        <div class="product_tab container">
            <h2><a href="/tea">BEST</a></h2>
            <h2><a href="/tea/1">티백</a></h2>
            <h2><a href="/tea/2">잎차</a></h2>
            <h2><a href="/tea/3">디카페인</a></h2>
        </div>

        <div class="container">

            <div class="row gy-4">

                <div th:each="product:${products}" class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="/main/assets/img/team/2.jpg" class="img-fluid" alt="" th:onclick="|location.href='@{/}'|">
                        </div>
                        <div class="member-info" style="text-align: left">
                            <h4><a th:text="${product.name}"> </a></h4>
                            <h3><a th:text="${product.sale_price}"></a></h3>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <!-- Pagination : 페이지 번호  -->
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li th:if="${pageDTO.prev}" class="page-item">
                        <a th:href="@{/tea(page=${pageDTO.startPage - 1},size=${pageDTO.pager.size},searchType=${pageDTO.pager.searchType},keyword=${pageDTO.pager.keyword})}" class="page-link">Previous</a>
                    </li>

                    <li th:each="page : ${pageDTO.getPageNumbers()}" class="page-item" th:classappend="${pageDTO.pager.page == page} ? 'active'">
                        <a th:text="${page}" class="page-link" th:href="@{/tea(page=${page},size=${pageDTO.pager.size},searchType=${pageDTO.pager.searchType},keyword=${pageDTO.pager.keyword})}">1</a>
                    </li>


                    <li th:if="${pageDTO.next}" class="page-item">
                        <a th:href="@{/tea(page=${pageDTO.endPage + 1},size=${pageDTO.pager.size},searchType=${pageDTO.pager.searchType},keyword=${pageDTO.pager.keyword})}" class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>


    <!-- Footer Fragments -->
    <th:block th:replace="~{/main/fragments/footer :: fragment-footer}"></th:block>
    <!-- /Footer Fragments Close -->




<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



<!-- Vendor JS Files -->
<script src="/main/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/main/assets/vendor/php-email-form/validate.js"></script>
<script src="/main/assets/vendor/aos/aos.js"></script>
<script src="/main/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/main/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="/main/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/main/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/main/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/main/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

<!-- Main JS File -->
<script src="/main/assets/js/main.js"></script>
</main>
</body>
</html>