<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<!-- header fragments -->
<th:block th:replace="~{/main/fragments/header :: fragment-header}"></th:block>
<!-- header fragments close -->
    <th:block th:fragment="content">
        <div class="container-fluid">
            <div class="row justify-content-center text-center">
                <div class="col-lg-6">
                    <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalChoice">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content rounded-3 shadow">
                                <div class="modal-body p-4 text-center">
                                    <h5 class="mb-0">회원가입이 완료 되었습니다</h5>
                                    <p class="mb-0">알차고 실속있는 서비스로 찾아뵙겠습니다.</p>
                                </div>
                                <div class="modal-footer flex-nowrap p-0">
                                    <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal"><a href="/" th:href="@{/}">홈으로</a></button>
                                    <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal"><a href="/login" th:href="@{/login}">로그인</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

<!-- Footer Fragments -->
<th:block th:replace="~{/main/fragments/footer :: fragment-footer}"></th:block>
<!-- /Footer Fragments Close -->