<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<!-- header fragments -->

<style>
    table > thead > tr > th {
        background: #efc9ac;
    }
</style>
<th:block th:replace="~{/main/fragments/header :: fragment-header}"></th:block>
<!-- header fragments close -->
<th:block th:fragment="content">
    <div class="container-fluid">
        <div class="row justify-content-center text-center" style="    min-height: 600px;">
            <div class="col-md-10 col-lg-8">
                <h4 style="
                    text-decoration: underline #cc822e;
                    text-underline-offset: 10px;
                    text-decoration-thickness: 3px;
                    margin: 40px 0;
                    ">
                    <span class="">구매목록</span>
                </h4 >
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th  style="background: #efc9ac;" scope="col">주문번호</th>
                        <th  style="background: #efc9ac;" scope="col">상품명</th>
                        <th  style="background: #efc9ac;" scope="col">금액(원)</th>
                        <th  style="background: #efc9ac;" scope="col">구매수량</th>
                        <th  style="background: #efc9ac;" scope="col">상태</th>
                        <th  style="background: #efc9ac;" scope="col">#</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="payment : ${lists}">
                        <td th:text="${payment.order_num}"></td>
                        <td th:text="${payment.product_name}"></td>
                        <td th:text="${payment.price}" ></td>
                        <td th:text="${payment.amount} + '개'"></td>
                        <td th:text="${payment.status == 'complete' ? '결제완료' : '환불'}"></td>
                        <td>
                            <button type="button" th:data-payid="${payment.payment_id}" class="btn refundBtn"
                            style="    background: #ff6565;color: #fff;border-radius: 2px;">
                                환불신청
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $('.refundBtn').click(function(){
                let payment_id = $(this).data('payid');
                $.ajax({
                    url: '/main/paymentRefund/' + payment_id,
                    type: 'POST',
                    success: function(result){
                        console.log("환불 신청 요청 성공!");
                        console.log(result);
                        alert("환불 신청 처리 되었습니다");
                        location.reload();
                    },
                    error: function(e){
                        console.log("환불신청 처리 실패...");
                        console.log(e);
                    }
                });
            });
        });
    </script>
</th:block>
<!-- Footer Fragments -->
<th:block th:replace="~{/main/fragments/footer :: fragment-footer}"></th:block>
<!-- /Footer Fragments Close -->
