<th:block th:fragment="fragment-clients">
  <section id="clients" class="clients section light-background">

    <div class="container">

      <div class="swiper init-swiper">
        <script type="application/json" class="swiper-config">
          {
            "loop": true,
            "speed": 3000,
            "autoplay": {
              "delay": 0,
              "disableOnInteraction": false
            },
            "slidesPerView": "auto",
            "spaceBetween": 20,
            "breakpoints": {
              "320": {
                "slidesPerView": 2,
                "spaceBetween": 20
              },
              "480": {
                "slidesPerView": 3,
                "spaceBetween": 30
              },
              "640": {
                "slidesPerView": 4,
                "spaceBetween": 40
              },
              "992": {
                "slidesPerView": 6,
                "spaceBetween": 50
              }
            }
          }
        </script>
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><img src="/img/clients/coffee_1.png" class="img-fluid" alt="Client 1"></div>
          <div class="swiper-slide"><img src="/img/clients/coffee_2.png" class="img-fluid" alt="Client 3"></div>
          <div class="swiper-slide"><img src="/img/clients/coffee_3.png" class="img-fluid" alt="Client 4"></div>
          <div class="swiper-slide"><img src="/img/clients/coffee_4.png" class="img-fluid" alt="Client 5"></div>
          <div class="swiper-slide"><img src="/img/clients/coffee_5.png" class="img-fluid" alt="Client 6"></div>
          <div class="swiper-slide"><img src="/img/clients/coffee_6.png" class="img-fluid" alt="Client 7"></div>
          <div class="swiper-slide"><img src="/img/clients/tea_1.png" class="img-fluid" alt="Client 8"></div>
          <div class="swiper-slide"><img src="/img/clients/tea_2.png" class="img-fluid" alt="Client 8"></div>
        </div>
      </div>
    </div>
  </section>
</th:block>
