<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<th:block th:fragment="fragment-header">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Brewit</title>
        <meta name="description" content="">
        <meta name="keywords" content="">

        <!-- Favicons -->
        <link href="/main/assets/img/favicon.png" rel="icon">
        <link href="/main/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com" rel="preconnect">
        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
              rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="/main/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/main/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="/main/assets/vendor/aos/aos.css" rel="stylesheet">
        <link href="/main/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="/main/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

        <!-- /main CSS File -->
        <link href="/main/assets/css/main.css" rel="stylesheet">

        <style>
            .gnb > li ul {
                display: none;
            }

            .gnb > li:hover {
                ul {
                    display: block;
                }
            }
        </style>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- Swiper JS 파일과 초기화 스크립트 추가 -->
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    </head>
    <header id="header" class="header sticky-top">
        <!--   GNB 메뉴  -->
        <div class="branding d-flex align-items-center">
            <div class="container position-relative d-flex align-items-center justify-content-between">
                 <a href="/" class="logo d-flex align-items-center">
                    <!-- Uncomment the line below if you also wish to use an image logo -->
                    <!-- <img src="/main/assets/img/logo.png" alt=""> -->
                    <h1 class="sitename">Brewit.</h1>
                </a>
                <nav id="navmenu" class="navmenu">
                    <ul class="gnb">
                        <li class="dropdown"><a href="#"><span>Brewit</span> </a>
                            <ul>
                                <li><a href="#">Brewit 소개</a></li>
                                <li><a href="#">입점 브랜드 소개</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Subscribe</a></li>
                        <li>
                        <li class="dropdown"><a href="/tea/0"><span>Tea</span> </a>
                            <ul>
                                <li><a href="/tea/1">티백</a></li>
                                <li><a href="/tea/2">잎차</a></li>
                                <li><a href="/tea/3">디 카페인</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="/coffee/0"><span>Coffee</span> </a>
                            <ul>
                                <li><a href="/coffee/4">싱글 오리진</a></li>
                                <li><a href="/coffee/5">블렌드</a></li>
                                <li><a href="/coffee/6">디 카페인</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="/teatool/0"><span>Tea Gear</span> </a>
                            <ul>
                                <li><a href="/teatool/7">드립주전자</a></li>
                                <li><a href="/teatool/8">전기포트</a></li>
                                <li><a href="/teatool/9">핸드드립 세트</a></li>
                                <li><a href="/teatool/10">다기세트</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="/coffeetool/0"><span>Coffee Gear</span> </a>
                            <ul>
                                <li><a href="/coffeetool/11">커피머신</a></li>
                                <li><a href="/coffeetool/12">그라인더</a></li>
                                <li><a href="/coffeetool/13">커피메이커</a></li>
                                <li><a href="/coffeetool/14">핸드드립 세트</a></li>
                            </ul>
                        </li>
                        <li><a href="/notice">FAQ</a></li>

                        <li sec:authorize="isAnonymous()"><a href="/main/new" th:href="@{/main/new}">Sign up</a></li>
<!--                            <ul class="gnb">-->


                            <li sec:authorize="isAuthenticated()" class="dropdown">
                                <a th:href="@{/main/{email}(email=${#authentication.name})}">
                                    <img src="/img/home/login.png" style="width: 25px; height: 25px;"/>
                                </a>
                                <ul>
                                    <li sec:authorize="isAuthenticated()" class="button_li">
                                        <form action="" th:action="@{/logout}" method="post">
                                            <button type="submit">Log out</button>
                                        </form>
                                    </li>
                                    <li sec:authorize="isAuthenticated()"><a th:href="@{/main/payments/{email}(email=${#authentication.name})}">구매목록</a></li>
                                    <li sec:authorize="isAuthenticated()"><a th:href="@{/main/trans/{email}(email=${#authentication.name})}">판매자전환신청</a></li>
                                    <li sec:authorize="isAuthenticated()"><a th:href="@{/main/{email}(email=${#authentication.name})}">My Page</a></li>
                                </ul>

                            </li>
                            <li sec:authorize="isAnonymous()"><a href="/login" th:href="@{/login}">Log in</a></li>
                            <li><a href="#"><img src="/img/home/cart.png" style="width: 25px; height: 25px;"/></a></li>
                        </ul>

                        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>
            </div>
        </div>
        <!--   GNB 메뉴 끝     -->
    </header>
</th:block>
