<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="fragment-header">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Brewit</title>
        <meta name="description" content="">
        <meta name="keywords" content="">

        <!-- Favicons -->
        <link href="/main/assets/img/favicon.png" rel="icon">
        <link href="/main/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com" rel="preconnect">
        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
              rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="/main/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/main/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="/main/assets/vendor/aos/aos.css" rel="stylesheet">
        <link href="/main/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="/main/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

        <!-- /main CSS File -->
        <link href="/main/assets/css/main.css" rel="stylesheet">

        <style>
            .gnb > li ul {
                display: none;
            }

            .gnb > li:hover {
                ul {
                    display: block;
                }
            }
        </style>
    </head>
    <header id="header" class="header sticky-top">
        <!--   GNB 메뉴  -->
        <div class="branding d-flex align-items-center">
            <div class="container position-relative d-flex align-items-center justify-content-between">
                <a href="#" class="logo d-flex align-items-center">
                    <!-- Uncomment the line below if you also wish to use an image logo -->
                    <!-- <img src="/main/assets/img/logo.png" alt=""> -->
                    <h1 class="sitename">Brewit</h1>
                </a>
                <nav id="navmenu" class="navmenu">
                    <ul class="gnb">
                        <li class="dropdown"><a href="#"><span>Brewit 소개</span><i
                                class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">Brewit 소개</a></li>
                                <li><a href="#">입점 브랜드 소개</a></li>
                            </ul>
                        </li>
                        <li><a href="#">정기구독</a></li>
                        <li>
                        <li class="dropdown"><a href="#"><span>차(Tea)</span><i
                                class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">티백</a></li>
                                <li><a href="#">잎차</a></li>
                                <li><a href="#">디 카페인</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#"><span>커피</span><i
                                class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">싱글 오리진</a></li>
                                <li><a href="#">블렌드</a></li>
                                <li><a href="#">디 카페인</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#"><span>관련 용품</span> <i
                                class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li class="dropdown"><a href="#"><span>차(Tea) 용품</span> <i
                                        class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <ul>
                                        <li><a href="#">드립 주전자</a></li>
                                        <li><a href="#">전기 포트</a></li>
                                        <li><a href="#">핸드 드립세트</a></li>
                                        <li><a href="#">다기 세트</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#"><span>커피 용품</span> <i
                                        class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <ul>
                                        <li><a href="#">커피 머신</a></li>
                                        <li><a href="#">그라인더</a></li>
                                        <li><a href="#">커피 메이커</a></li>
                                        <li><a href="#">핸드 드립세트</a></li>
                                    </ul>
                                </li>
                            </ul>
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">고객지원</a></li>
                        <li><a href="#"><img src="../static/img/cart.png"/> 장바구니</a></li>
                        <li th:if="${session.semail == null}"><a href="/login" th:href="@{/login}"><img src="../static/img/login.png"/> 로그인</a></li>
                        <li th:if="${session.semail != null}"><a href="/logout" th:href="@{/logout}"><img src="../static/img/logout.png"/> 로그아웃</a></li>
                        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>
            </div>
        </div>
        <!--   GNB 메뉴 끝     -->
    </header>
</th:block>
