<th:block th:fragment="fragment-mainImg">
    <section id="hero" class="hero section light-background">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
                    <h1>당신의 일상에 완벽한 <span>BREWIT.</span></h1>
                    <p>정기적으로 찾아오는 풍미의 즐거움.</p>
                    <div class="d-flex">
                        <a href="#about" class="btn-get-started" style="font-color:black">구독하기</a>
                        <!-- 비디오 영상 재상 주석 처리
                            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                            -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>