<th:block th:fragment="fragment-mainImg">
    <section id="hero" class="hero section light-background">
        <div class="container position-relative">
            <!-- 텍스트 영역 -->
            <div class="text-content">
                <h3>당신의 일상에 완벽한 <strong>Brewit.</strong></h3>
                <p>정기적으로 찾아오는 풍미의 즐거움.</p>
                <div class="d-flex">
                    <a href="#" class="btn-mainBtn">구독하기</a>
                </div>
            </div>

            <!-- 슬라이더 -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" th:each="mainImg : ${mainImg}">
                        <img th:src="@{/img/home/{name}(name=${mainImg.name})}" th:alt="${mainImg.name}" class="img-fluid img-set">
                    </div>
                </div>
                <!-- 페이지네이션 -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

    <script>
        // DOMContentLoaded를 사용하여 페이지가 로드된 후 슬라이드 초기화
        document.addEventListener('DOMContentLoaded', function () {
            const swiper = new Swiper('.swiper-container', {
                loop: true, // 무한 루프
                autoplay: {
                    delay: 3000, // 3초마다 이미지 변경
                },
                pagination: {
                    el: '.swiper-pagination', // 페이지네이션 요소
                    clickable: true, // 페이지네이션 클릭 가능
                },
                effect: 'fade', // 페이드 효과
            });
        });
    </script>
</th:block>