<th:block th:fragment="fragment-subscribe">
    <section id="team" class="team section light-background">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h1>Brewit</h1>
            <p><span>정기 구독</span> <span class="description-title">상품</span></p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">
                <div th:each="eventProduct : ${eventProductDTO}" class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member">
                        <div class="member-img">
                            <img th:src="@{/img/product/{attach_name}(attach_name=${eventProduct.attach_name})}"
                                 class="img-fluid" th:alt="${eventProduct.event_name}">
                            <div class="social">
                                <a href="">
                                    <button class="btn-circle"> 구독상품 구매!</button>
                                </a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4 th:text="${eventProduct.event_name}">Title</h4>
                            <span th:text="${eventProduct.event_info}">Sub_Title</span>
                        </div>
                    </div><!-- End Team Member -->
                </div>
            </div>
        </div>
    </section>
</th:block>
